.container {
  display: flex;
}

.left {
  width: 30%;
  margin-left: 10%;
  margin-right: 10px;
}

.right {
  width: 70%;
  margin-right: 10%;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

li:hover {
  
  list-style-type: none;
}

.box:hover {
  border: 1px solid #000000;
}
